.main {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 480px;
    margin: 180px auto 0 auto;
    align-items: center;
    height: calc(100% - 88px);
    padding-top: 88px;
}
.link {
    color: #4C4CFF;
    text-decoration-line: none;
}
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}