.section {
    display: flex;
    flex-direction: column;
    width: 600px;
    overflow-y: auto;
}
.elements {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 10px;
}
.checkout {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.price {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.drug {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.constructorElement {
    display: flex;
    justify-content: flex-end;
}