.header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #1C1C21;
}
.header__start {
    display: flex;
    flex-direction: row;
    flex-basis: 400px;
    justify-content: flex-start;
}
.header__end {
    display: flex;
    flex-direction: row;
    flex-basis: 400px;
    justify-content: flex-end;
}
.header__nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 40px;
}
.logo {
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 8px;
}
.nav {
    color: #8585ad;
    text-decoration-line: none;
}
.navActive {
    color: #fff;
    text-decoration-line: none;
}